@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/San Francisco Pro Display/SF-Pro-Display-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('../assets/fonts/San Francisco Pro Text/SFProText-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Play';
	src: url('../assets/fonts/Play/Play-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
